:root {
  --primary-color: #fff;
  --secondary-color: #001240;
  --fontTitle: "Geneva", sans-serif;
  --fontText: "Geneva", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 18, 64);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo img {
  width: 255px;
}

.navbarLink a {
  position: relative;
  color: var(--primary-color);
  font-size: 1.4em;
  text-decoration: none;
  margin-left: 140px;
  font-family: var(--fontTitle);
}

.navbarLink a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
}

.navbarLink a:hover::before {
  width: 100%;
}

.welcome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 250px;
}

.photo-profil {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coding-person {
  width: 50%;
  border-radius: 50%;
  border: #fff bold;
}

.message-bienvenue {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  color: var(--primary-color);
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.message-bienvenue h1 {
  font-family: var(--fontTitle);
  font-size: 2em;
}

.message-bienvenue h2 {
  font-family: var(--fontText);
  font-size: 1.2em;
}

.button-style {
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  min-height: 60px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.button-style:hover {
  background-color: #001240;
  border-color: #fff;
  color: #fff;
}

.footer {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--fontText);
  font-size: 1.3;
  margin: 75px 0px;
}

.social-link i {
  color: #fff;
  margin-left: 30px;
}
