:root {
  --primary-color: #fff;
  --secondary-color: #001240;
  --third-color: #ffd961;
  --fontText: "Geneva", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(5, 33, 107);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgb(5, 33, 107);
}

.logo img {
  width: 100px;
}

.hamburger-menu {
  display: none;
}

.active {
  color: #81b3ff;
  font-size: 1.4em;
  text-decoration: none;
  margin-left: 75px;
  font-family: var(--fontText);
  opacity: 1;
}

.style-nav-links {
  color: var(--primary-color);
  font-size: 1.4em;
  text-decoration: none;
  margin-left: 75px;
  font-family: var(--fontText);
  opacity: 0.5;
  transition: opacity 0.3s;
}

.navbarLink a:hover {
  color: #81b3ff;
  opacity: 1;
}

.welcome {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 200px;
}

/* Profil animation */
.photo-profil {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  background: url("../img/coding-person.webp");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 300px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}
@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 30%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.message-bienvenue {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  color: var(--primary-color);
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.message-bienvenue h1 {
  font-family: var(--fontText);
  font-size: 2em;
}

.my-name {
  color: #7fb4ff;
}

.message-bienvenue h2 {
  font-family: var(--fontText);
  font-size: 1.2em;
}

.button-style {
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  min-height: 60px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  transition: box-shadow 0.25s;
}

.gris {
  background-color: #6e6e6e;
  color: #333;
}

.button-style:hover {
  background-color: #001240;
  border-color: #fff;
  color: #fff;
}

.footer {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--fontText);
  font-size: 1.3;
  margin: 100px 0px 20px;
}

.social-link i {
  color: #fff;
  margin-left: 30px;
}

/* PAGE PRESENTATION */

.personal-presentation {
  width: 70%;
  color: var(--primary-color);
  margin-top: 150px;
  font-family: var(--fontText);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2em;
}

.personal-presentation h1 {
  text-decoration: underline;
}

.infos p,
.competences ul,
.exp h3,
.hobbies ul,
.card-content p {
  margin-top: 20px;
  line-height: 2em;
}

.card-style {
  margin: 50px;
  padding: 20px;
}

.infos h2,
.competences h2,
.exp h2,
.hobbies h2 {
  display: flex;
  justify-content: center;
  font-size: 1.6em;
}

.competences ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.hobbies ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.competences ul li {
  margin-left: 20px;
}

.competences ul li,
.exp i,
.hobbies ul {
  margin-top: 25px;
  font-size: 1.1em;
}
.exp i {
  color: #7fb4ff;
  opacity: 75%;
}

.button-mesprojets .button-style {
  margin-top: 50px;
}

div fieldset {
  margin-top: 30px;
  border-radius: 15px;
  padding: 34px;
  border-color: #81b3ff;
}

fieldset legend {
  color: #81b3ff;
  font-size: larger;
}

h3 a {
  color: var(--primary-color);
}

.link-style {
  text-decoration: none;
  color: var(--primary-color);
}

.link-style:hover {
  text-decoration: underline;
}

/* PAGE PROJET CSS */

.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title-project {
  display: flex;
  justify-content: center;
  margin-top: 125px;
  margin-bottom: 50px;
  color: var(--primary-color);
  font-family: var(--fontText);
}

.card-content {
  width: 400px;
  border-radius: 7px;
  overflow: hidden;
  margin: 20px;
  color: var(--primary-color);
  font-family: var(--fontText);
}

.card-content img {
  height: 320px;
}

.card-content ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  list-style-type: none;
}

.card-content li img {
  margin-top: 10px;
  width: auto;
  height: 50px;
}

.competences li img {
  width: auto;
  height: 80px;
}

.card-content h1,
.card-content p,
.card-content button {
  margin-top: 20px;
}

.height-paragraphe {
  height: 200px;
}

.email-link {
  width: 65%;
  color: var(--primary-color);
  margin-top: 150px;
  margin-bottom: 250px;
  font-family: var(--fontText);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2em;
}

.email-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-display h2 {
  margin: 65px 0 40px;
}

.button-contact-me {
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  min-height: 60px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.button-contact-me:hover {
  background-color: #81b3ff;
}

/* background animation css */
.bg {
  background: rgb(5, 33, 107);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -2000;
}

.bg-area li {
  position: absolute;
  list-style: none;
  bottom: -150px;
  left: 5%;
  font-size: 5rem;
  animation: spin 10s linear infinite;
}

.bg-area li:nth-child(1) {
  left: 0%;
  animation-delay: 2s;
  animation-duration: 15s;
}

.bg-area li:nth-child(3) {
  left: 20%;
  animation-delay: 4s;
}

.bg-area li:nth-child(4) {
  left: 30%;
  animation-delay: 2s;
}

.bg-area li:nth-child(5) {
  left: 40%;
  animation-delay: 6s;
  animation-duration: 30s;
}

.bg-area li:nth-child(6) {
  left: 50%;
  animation-delay: 2s;
}

.bg-area li:nth-child(7) {
  left: 60%;
  animation-delay: 3s;
}

.bg-area li:nth-child(8) {
  left: 70%;
  animation-delay: 4s;
  animation-duration: 25s;
}

.bg-area li:nth-child(9) {
  left: 80%;
  animation-delay: 8s;
  animation-duration: 30s;
}

.bg-area li:nth-child(10) {
  left: 90%;
  animation-delay: 1s;
}

@keyframes spin {
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
/* end of the animation of emoji */

/* Mentions légales */
.mentions {
  display: flex;
  margin: 20px;
  color: var(--primary-color);
  font-family: var(--fontText);
  flex-direction: column;
  align-items: flex-start;
}

.mentions div {
  margin-top: 30px;
}

.mentions h3 {
  color: #7fb4ff;
}
.mentions p {
  margin-top: 5px;
}

@media (1025px <= width <= 2000px) {
  .photo-profil {
    margin-left: 250px;
    height: 350px;
    width: 350px;
  }
  .message-bienvenue h2,
  .message-bienvenue a {
    margin-top: 10%;
  }
  .email-link {
    margin-top: 200px;
  }
  .welcome {
    margin-top: 250px;
  }
  .contact-foo {
    margin: 350px 0px 20px;
  }
}

/* RESPONSIVE TABLETTE */
@media (426px <= width <= 834px) {
  /* Index */
  .style-nav-links {
    margin-left: 25px;
  }

  .welcome {
    margin-top: 145px;
  }

  .photo-profil {
    margin-left: 50px;
  }

  /* Page presentation */
  .competences ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-style {
    margin: 0px;
    margin-top: 100px;
    padding: 0px;
  }

  div fieldset {
    padding: 10px;
  }

  /* Mes projets */
  .card-content:nth-child(2) {
    margin-top: 100px;
  }

  /* Contact */
  .email-link {
    margin-bottom: 185px;
  }
}

/* RESPONSIVE MOBILE */
@media (1px <= width <= 661px) {
  /* hide large navbar */
  .navbarLink {
    display: none;
  }
  .hamburger-menu {
    display: contents;
  }

  /* burger */
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 50px;
    right: 25px;
    width: 45px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #7fb4ff;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ffffffe8;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: var(--fontText), sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  /* end burger */
  .header {
    padding: 0% 38%;
  }

  /* Page accueil */
  .welcome {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }
  .photo-profil {
    margin-left: 100px;
    height: 200px;
    width: 200px;
  }
  .message-bienvenue {
    align-items: center;
    margin-top: 30px;
  }

  .message-bienvenue h1 {
    width: 70%;
  }

  .message-bienvenue h2 {
    margin-top: 15px;
  }
  .message-bienvenue a {
    margin-top: 15px;
  }
  .footer {
    margin: 53px 22px 12px;
  }
  .social-link {
    display: flex;
    justify-content: space-around;
  }

  /* Page présentation */
  .personal-presentation {
    width: 100%;
  }
  .infos p {
    font-size: 0.9em;
    line-height: 2em;
  }

  .competences ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .competences li img {
    height: 50px;
  }

  .card-style {
    margin: 40px 0px;
    padding: 0px;
    width: 90%;
  }

  div fieldset {
    padding: 0px;
    border-color: #001240;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 100px;
    font-size: 0.8em;
  }

  .hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
